In [1]:
7**4  # What is 7 to the power of 4?

2401

In [5]:
s="Hi there Yogesh!"  #Split this string:

In [7]:
s.split()

['Hi', 'there', 'Yogesh!']

In [10]:
# Use .format() to print the following string:
planet = "Earth"
diameter = 12742

In [9]:
"The diameter of {} is {} kilometers".format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

In [11]:
#Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [21]:
lst[3][1][2]

['hello']

In [20]:
#Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky 
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [32]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [ ]:
''' What is the main difference between a tuple and a list?
    
    Tuple                         List 
tuple are immutable.         list are mutable   
tuple are in paranthisis     list is in squre bracket  
bracket.
'''

In [43]:
#Create a function that grabs the email website domain from a string in the form:
def fun1(email):
    return email.split('@')[1]

In [44]:
fun1("abc@gmail.com")

'gmail.com'

In [51]:
# Create a basic function that returns True if the word 'dog' is contained in the input string. 
# Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.
def findDog(str):
    return 'dog' in str.lower()

In [52]:
findDog('Is there a dog here?')

True

In [71]:
# Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.
def countDog(string):
    c=0
    for i in string.lower().split():
        if i == 'dog':
            c = c + 1
    print(c)

In [74]:
countDog('This dog runs faster than the other dog dude!')

2

In [75]:
# Use lambda expressions and 
# the filter() function to filter out words from a list that don't start with the letter 's'. For example:
seq = ['soup','dog','salad','cat','great']

In [78]:
t1=lambda v: v[0]!='s'

In [81]:
list(filter(t1,seq))

['dog', 'cat', 'great']

#**You are driving a little too fast, and a police officer stops you. 
Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, 
the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket".
Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- 
on your birthday, your speed can be 5 higher in all cases. **

In [87]:

def caught_speeding(speed, is_birthday):
    new_speed=0
    if is_birthday:
        new_speed=speed-5
    else:
        new_speed=speed
    
    if new_speed >=81:
        print("Big Ticket !!!")
    elif new_speed >=61:
        print("Small Ticket")
    else:
        print('No Ticket')

In [86]:
caught_speeding(60, True)

No Ticket

Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [2]:
a=input("enter the input")
no=""
lis1=[0,1,2,3,4,5,6,7,8,9]
if a[0]=='-':
    no=no+a[0]
    
for i in a:
    if i in str(lis1):
        no=no+i
            
print(no,end="")

enter the input-123abcd456
-123456

Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [100]:
n1=input('enter the number :')
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3 != n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print("number is : ",n3)
    print("reverse is : ",n3[::-1])
print("palindrome is : ",n3)

enter the number :88
number is :  847
reverse is :  748
number is :  1595
reverse is :  5951
number is :  7546
reverse is :  6457
number is :  14003
reverse is :  30041
number is :  44044
reverse is :  44044
palindrome is :  44044

Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [107]:
def fun4():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c == a and a+b+c+d+c == 19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))

In [106]:
fun4()

75313

In [108]:
pwd

'C:\\Users\\om\\Desktop\\1Basic Python-20230317T103746Z-001\\1Basic Python'